
  body {
    margin:  0; 
  }
    div {
    padding: 0;
  }
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,49,0.7)), url(/home/ace1k/images/ecoc-banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
    